<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Alex Vakhno</title>
</head>
<header>
    <div class="container">
        <h1 class="logo">Alex's Website</h1>
        <strong><nav>
            <ul class="menu">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('finance_graph')}}">Finance Graph</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
            </ul>
        </nav></strong>
    </div>
</header>
<body>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
</body>
</html>